# üìò P1.3.4.5 ‚Äì CRUD Operations
## Topic: Create, Read, Update, Delete in SQLite

## üéØ Learning Objectives
By the end of this notebook, you will:
- Create tables with SQLite
- Insert multiple records
- Read data using SELECT
- Update existing records
- Delete records safely

## üß± Create (Tables)
We will create **two tables**: `users` and `orders`.

In [1]:
import sqlite3

conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS users (id INTEGER, name TEXT)")
cursor.execute("CREATE TABLE IF NOT EXISTS orders (id INTEGER, user_id INTEGER, item TEXT)")

conn.commit()
print("Tables created")
conn.close()

Tables created

## ‚ûï Create (Insert Records)
Insert **multiple records** into both tables.

In [2]:
import sqlite3

conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

users = [
    (1, "Alice"),
    (2, "Bob"),
    (3, "Charlie"),
    (4, "Diana")
]

orders = [
    (101, 1, "Laptop"),
    (102, 1, "Mouse"),
    (103, 2, "Keyboard"),
    (104, 3, "Notebook")
]

cursor.executemany("INSERT INTO users VALUES (?, ?)", users)
cursor.executemany("INSERT INTO orders VALUES (?, ?, ?)", orders)

conn.commit()
print("Records inserted")
conn.close()

Records inserted

## üìñ Read (SELECT)
Read data from both tables.

In [3]:
import sqlite3

conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM users")
print("Users:", cursor.fetchall())

cursor.execute("SELECT * FROM orders")
print("Orders:", cursor.fetchall())

conn.close()

Users: [(1, 'Alice'), (2, 'Bob'), (3, 'Charlie'), (4, 'Diana')]
Orders: [(101, 1, 'Laptop'), (102, 1, 'Mouse'), (103, 2, 'Keyboard'), (104, 3, 'Notebook')]

## ‚úèÔ∏è Update
Update a user‚Äôs name and an order item.

In [4]:
import sqlite3

conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

cursor.execute("UPDATE users SET name = ? WHERE id = ?", ("Alicia", 1))
cursor.execute("UPDATE orders SET item = ? WHERE id = ?", ("Wireless Mouse", 102))

conn.commit()
print("Records updated")
conn.close()

Records updated

## üóëÔ∏è Delete
Delete one user and one order.

In [5]:
import sqlite3

conn = sqlite3.connect("shop.db")
cursor = conn.cursor()

cursor.execute("DELETE FROM users WHERE id = ?", (4,))
cursor.execute("DELETE FROM orders WHERE id = ?", (104,))

conn.commit()
print("Records deleted")
conn.close()

Records deleted

### ‚úÖ Key Takeaways
- CRUD = Create, Read, Update, Delete
- You can manage multiple tables in one database
- Use `executemany()` for inserting multiple rows
- Always commit changes and close the connection