# üìò P1.3.4.2 ‚Äì SQL Basics
## Topic: What is SQL and CRUD Operations

## üéØ Learning Objectives
By the end of this notebook, you will:
- Explain what SQL is
- Understand why SQL is needed
- Identify basic SQL statements
- Connect SQL basics to CRUD operations

## ‚ùì What is SQL?
**SQL (Structured Query Language)** is the language used to **talk to relational databases**.

It lets us **create**, **read**, **update**, and **delete** data in tables.

## ‚úÖ Why Do We Need SQL?
We use SQL because it helps us:
- Find data quickly (queries)
- Add new data safely
- Update existing data correctly
- Remove data when needed
- Work with structured tables

## üß± SQL Basics (Core Statements)
These are the most common SQL commands:
- **CREATE** ‚Üí make a table
- **INSERT** ‚Üí add data
- **SELECT** ‚Üí read data
- **UPDATE** ‚Üí change data
- **DELETE** ‚Üí remove data

## üîÅ CRUD Mapping
CRUD is a simple way to describe what we do with data:
| CRUD | Meaning | SQL Command |
|------|---------|-------------|
| **C** | Create  | INSERT |
| **R** | Read    | SELECT |
| **U** | Update  | UPDATE |
| **D** | Delete  | DELETE |

## üß™ Very Small Examples (Syntax Only)
```sql
1) CREATE TABLE users (id INTEGER, name TEXT);
    - Creates a new table named `users` with two columns (`id`, `name`).


2) INSERT INTO users VALUES (1, 'Alice');
    - Adds one new row: id = 1 and name = 'Alice'.


3) SELECT * FROM users;
    - Reads and shows all rows from the `users` table.


4) UPDATE users SET name = 'Alicia' WHERE id = 1;
    - Changes the name for the row where id = 1 to 'Alicia'.


5) DELETE FROM users WHERE id = 1;
    - Removes the row where id = 1 from the table.
```

We will practice these in detail in the next notebook.

### ‚úÖ Key Takeaways
- **SQL** is the language for relational databases
- It helps manage data in tables
- CRUD maps directly to common SQL commands
- We will go deeper into SQL CRUD next